* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #111;
}

#box1 {
    width: 200px;
    height: 200px;
    background-color: crimson;
}

#box2 {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}

#box3 {
    width: 200px;
    height: 200px;
    background-color: rgb(146, 218, 13);
}

h1{
    color: white;
}